body{
    background-color: black;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
form{
    display: flex;
    position: fixed;
    top:50%;
    left:20%;

}
input{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
    text-align: center;
}
button{
   
    background-color: #ffa4ee;
    border-radius: 20px;
    font-size: 2rem ;
}
h1{
    position: fixed;
    text-align: center;
    font-size: 4rem;
    color: white;
    top: 30%;
    left: 45%;
}
@media (max-width:500px){
    form{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    top: 250px;
    font-size: 1.8rem;
}
h1{
    position: relative;
    text-align: center;
    left: 0%;
    top: 200px;
}
input{
    font-size: 1.3rem;
}
}