body{
    background-color: black;
    overflow: hidden;
    
}
form{
    display: flex;
    position: fixed;
    top:50%;
    left:30%;

}
input{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
    text-align: center;
}
button{
   
    background-color: #ffa4ee;
    border-radius: 20px;
    font-size: 2rem ;
}
h1{
    position: fixed;
    text-align: center;
    font-size: 4rem;
    color: white;
    top: 30%;
    left: 45%;
}