.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* dark overlay */
  justify-content: center;
  align-items: center;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
  background-color: #ffa4ee;
}

.modal-content {
  background-color: #ffa4ee;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px white;
  font-size: 1.2rem;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-buttons button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: white;
  transition: background 0.2s;
}

.modal-buttons button:hover {
  background: #ffe0f0;
}
#calendar {
  max-width: 900px;
  margin: 40px auto;
  height: 600px;  /* IMPORTANT: give it height */
}
.fc-event-title-container {
  background-color: #ffa4ee;
  border-color: #ffa4ee;
  text-align: center;
}
#time-input {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
}
.logout-link{
  position: fixed;
  top: 20px;
  right: 50px;
  
}
a.logout-link {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0 20px;
}
@media (max-width: 900px){
  .logout-link{
  position: fixed;
  top: 60%;
  right: 50px;
  
  
}
}
@media (max-width: 500px){
  .logout-link{
  position: fixed;
  top: 90%;
  right: 50px;
  
  
}
}